.editor {
  .hidden {
    display: none;
  }

  .thumbnails {
    overflow-y: auto;
      .thumbnail {
        padding: 0;
      }
      .btn-thumbnail {
        height: auto;
        padding: .7rem;
        margin: 0 auto;
      }
  }

  .editor-toolbox {
    .shadow;

    border-radius: @border-base;
    overflow: hidden;
    background-color: @core-light-color;

    top: @layout-gutter;
    left: @layout-gutter;
    position: fixed;
    z-index: 100;
    .editor-header {
      width: 100%;

      border: 0.1em solid darken(@core-color, 5%);
      border-radius: @border-base @border-base 0 0;
      background-color: @core-color;

      padding: @layout-gutter 0.5*@layout-gutter;
      overflow: hidden;

      h1 {
        text-align: center;
        margin: 0;
        line-height: 0;
        small {
          display: inline-block;
          font-size: 1.2*@body-font-size;
          position: relative;
          top: -.3rem;
          color: @core-light-color;
        }
      }
      .brand {
        display: inline;
        margin-right: .8rem;
        svg {
          height: 1.5*@body-font-size;
          width: auto;
          fill: @core-light-color;
        }
        &:hover {
          svg {
            fill: darken(@core-light-color, 3%);
          }
        }
      }
    }

    .editor-footer {
      border-radius: 0 0 @border-base @border-base;
      border: 0.1em solid @core-border-color;
      border-top: none;
      background-color: @core-light-color;
      overflow: hidden;

      padding: 0.5*@layout-gutter;

      .btn-save {
        float: right;
        &.disabled {
          background-color: lighten(@core-meta-color, 20%);
          border-color: lighten(@core-meta-color, 15%);
        }
      }
    }
  }

  .site {
    .editable {
      border: .3rem solid @core-color;
    }
  }
}
