.editor {
  .hidden {
    display: none;
  }

  .editor-toolbox {
    .shadow;

    border-radius: @border-base;
    overflow: hidden;
    background-color: @core-light-color;

    bottom: @layout-gutter;
    left: @layout-gutter;
    position: fixed;
    z-index: 200;

    width: 24rem;

    .editor-header {
      width: 100%;

      border: 0.1em solid darken(@core-color, 5%);
      border-radius: @border-base @border-base 0 0;
      background-color: @core-color;

      padding: @layout-gutter 0.5*@layout-gutter;
      overflow: hidden;

      h1 {
        text-align: center;
        margin: 0;
        line-height: 0;
        small {
          display: inline-block;
          font-size: 1.2*@body-font-size;
          position: relative;
          top: -.3rem;
          color: @core-light-color;
        }
      }
      .brand {
        display: inline;
        margin-right: .8rem;
        svg {
          height: 1.5*@body-font-size;
          width: auto;
          fill: @core-light-color;
        }
        &:hover {
          svg {
            fill: darken(@core-light-color, 3%);
          }
        }
      }
    }

    .editor-footer {
      border-radius: 0 0 @border-base @border-base;
      border: 0.1em solid @core-border-color;
      border-top: none;
      background-color: @core-light-color;
      overflow: hidden;

      padding: 0.5*@layout-gutter;

      .btn-save {
        float: right;
        &.disabled {
          background-color: lighten(@core-meta-color, 20%);
          border-color: lighten(@core-meta-color, 15%);
        }
      }
    }
  }

  .site {
    span.editable {
      display: inline-block
    }
    .editable {
      width: 100%;
      cursor: pointer;
      position: relative;
      &:before, &:after {
        content: "";
        position: absolute;
        top: -2%;
        left: -2%;
      }
      &:before {
        content: "\270F";
        font-family: 'mfg_labs_iconsetregular';
        font-size: 1.2rem;
        line-height: @html-line-height;
        padding: .2rem .4rem;
        background: @core-color;
        color: @core-light-color;
        border-radius: @border-base;
        opacity: 0.8;
      }
      &:after {
        width: 104%;
        height: 104%;
        border: .3rem solid @core-color;
        border-radius: 2*@border-base;
        display: none;
      }
      &:hover {
        &:before {
          opacity: 1;
          content: "Edit";
          font-family: @body-font-family;
        }
        &:after {
          display: block;
        }
      }
      &.editing {
        &:after {
          display: block;
        }
        &:before {
          opacity: 1;
          content: "Editing";
          font-family: @body-font-family;
        }
      }
    }
  }
}

.editable-popover {
  .shadow;

  overflow: hidden;
  border-radius: @border-base;
  background: @core-light-color;

  z-index: 100;

  min-width: 24rem;

  .editable-form {
    min-width: 32rem;

    .editable-form-header {
      border: 0.1em solid darken(@core-color, 5%);
      border-radius: @border-base @border-base 0 0;
      background-color: @core-color;

      color: @core-light-color;
      font-weight: bold;

      padding: @layout-gutter/4 @layout-gutter/2;
    }
    .editable-form-content {
      border: .1rem solid @core-border-color;
      border-top: none;
      border-radius: 0 0 @border-base @border-base;
      max-height: 80vh;
      overflow-y: auto;

      padding: @layout-gutter/2;
    }

    &.editable-image-form {
      max-width: 32rem;
      .thumbnails {
        .thumbnail {
          padding: 0;
        }
        .btn-thumbnail {
          height: auto;
          padding: .7rem;
          margin: 0 auto;
        }
      }
    }
  }

  .Popover-tip {
    display: none;
  }
}
