.editor {
  .editor-bar {
    height: 100vh;

    border: solid @core-border-color;
    border-width: 0 .1rem 0 0;
    background-color: fade(@core-light-color, 98%);

    position: fixed;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s;

    &.active {
    transform: translateX(0);
      .toggle .icon {
        transform: rotate(180deg);
      }
    }

    .editor-viewbox {
      overflow-y: scroll;
      max-height: 100%;
      padding-bottom: 15rem; //Todo: fix hacked hack

      .accordion-section .accordion-content {
        transition: max-height 0.5s;
        animation: infinite
      }
    }

    .toggle {
      .btn;
      border-color: @core-border-color;
      border-radius: 0 @border-base @border-base 0;
      background-color: lighten(@core-color, 40%);
      color: darken(@core-color, 15%);
      position: absolute;
      padding: 1rem 0.7rem;
      height: 3.8rem;
      width: 3rem;
      right: -3rem;
      top: 2rem;

      &:hover {
        background-color: lighten(@core-color, 20%);
      }

      .icon {
        display: inline-block;
        transition: transform 0.5s;
        transform: rotate(0deg);
      }
    }
    .editor-header {
      width: 100%;
      border-bottom: 0.1em solid @core-border-color;
      background-color: @core-light-color;
      padding: @layout-gutter;
      .brand {
        height: 2em;
        svg {
          max-height: 100%;
          fill: @core-meta-color;
        }
      }
    }

    .editor-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 0.1em solid @core-border-color;
      background-color: @core-light-color;
      padding: 0.5*@layout-gutter;
      .btn-save {
        float: right;
        &.disabled {
          background-color: lighten(@core-meta-color, 20%);
          border-color: lighten(@core-meta-color, 15%);
        }
      }
    }
  }

  .editor-help {
    position: absolute;
    width: 100%;
    pading: 0.5*@layout-gutter;

    & .btn {
      right: 0;
    }
  }
}
