.splash {
    font-family: @brand-font-family;

    section.hero {
        .flex;

        margin: @splash-gutter;
        padding: @layout-gutter;

        /* The height of the viewport minus twice the margin */
        height: 100vh - 2*@splash-gutter;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &, a {
            color: @core-light-color;
        }
    }        
    .blurb {
            .centered;
            align-self: center;
            max-width: 48rem;
            
            p {
                text-align: justify;
                padding: 0 2*@layout-gutter;
                margin: 0 0 2*@layout-gutter;
                font-size: 1.2*@body-font-size;
            }
        }
}