<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clubhub</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="../../styles/landing.css" media="screen" title="Clubhub">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <!-- For mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Twitter Meta Properties -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Clubhub">
        <meta name="twitter:description" content="Create a beautiful university club website">
        <meta name="twitter:image" content="">
        <!-- Facebook Meta Properties -->
        <meta property="og:image" content="">
        <meta property="og:title" content="Clubhub">
        <meta property="og:site_name" content="Clubhub"/>
        <meta property="og:description" content="Create a beautiful university club website">
        <meta property="og:url" content="http://hubsite.club" />
    </head>
    <body>
        <div class="landing">
            <div class="landing-content">
                <img src="../../img/logotype-white.svg" alt="" />
                <p>
                    We make it really easy for club leaders to make great
                    looking websites. Not only does it take less than 10 minutes
                    to make a website with us, it's even easier to maintain and
                    transfer ownership to your new club leader. Shoot us an
                    <a href="mailto:contact@hubsite.club" target="_blank">email</a>
                    if you have any questions, or want to learn more about what we do.
                </p>
                <a class="landing-cta" href="http://www.hubsite.club:8000/create" target="_blank">Create a Website</a>
                <!-- <div class="landing-signup-form">
                    <form class="center" action="index.html" method="post">
                        <input type="text" name="name" value="" placeholder="Your email here">
                        <button href="#">Sign up</button>
                    </form>
                </div> -->
            </div>
        </div>
    </body>
</html>
