<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clubhub</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="../../styles/landing.css" media="screen" title="Clubhub">
        <!-- For mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Twitter Meta Properties -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Clubhub">
        <meta name="twitter:description" content="Create a beautiful university club website">
        <meta name="twitter:image" content="">
        <!-- Facebook Meta Properties -->
        <meta property="og:image" content="">
        <meta property="og:title" content="Clubhub">
        <meta property="og:site_name" content="Clubhub"/>
        <meta property="og:description" content="Create a beautiful university club website">
        <meta property="og:url" content="http://hubsite.club" />
    </head>
    <body>
        <div class="landing">
            <div class="landing-container">
                <img src="../../img/logotype-white.svg" alt="" />
                <p>
                    We’re inviting you to join us to create a place where we can
                    inspire university clubs and share with each other every day, collaborate on
                    collections. If you have any question email the team at
                    <a href="mailto:contact@hubsite.club" target="_blank">contact@hubsite.club</a>
                </p>
                <div class="landing-signup-form">
                    <form class="center" action="index.html" method="post">
                        <input type="text" name="name" value="" placeholder="Your email here">
                        <button href="#">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
