<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clubhub</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="../../styles/hubsite.css" media="screen" title="Clubhub">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <!-- For mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Twitter Meta Properties -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Clubhub">
        <meta name="twitter:description" content="Create a beautiful university club website">
        <meta name="twitter:image" content="">
        <!-- Facebook Meta Properties -->
        <meta property="og:image" content="">
        <meta property="og:title" content="Clubhub">
        <meta property="og:site_name" content="Clubhub"/>
        <meta property="og:description" content="Create a beautiful university club website">
        <meta property="og:url" content="http://hubsite.club" />
    </head>
    <body>
        <div class="outer-container">
            <header>
                <ul>
                    <li>
                        <a href="#" target="_blank" ><img src="../../img/twitter.svg" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank" ><img src="../../img/instagram.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank" ><img src="../../img/facebook.svg" alt="" /></a>
                    </li>
                </ul>
            </header>
            <div class="hero-container">
                <div class="hero-image" style="background-image:url('../../img/canoe.png')"></div>
                <div class="hero-content center">
                    <h1>UVic Canoe Club</h1>
                    <p>
                        A commmunity of canoe and water lovers to share and experiences
                        of canoeing and help each other rivers and lakes and stuff
                        haha we even like to knowledge.
                    </p>
                    <button type="button" name="button">Join</button>
                    <button type="button" name="button">Contact</button>
                </div>
            </div>
            <div class="main-container">
                <section class="responsive-column">
                    <div class="main-container-text">
                        <h1>When and Where</h1>
                        <p>
                            Each meeting we practice our skills and invite local experts
                            to provide workshops and lessons. Sometimes we also meet up
                            for sodie pops at Swan’s downtown! On rainy days we usually cancel.
                        </p>
                        <p class="stats">
                            <img class="icon" src="../../img/clock.svg" alt="" />
                            Usually <strong>Wednesdays</strong> at <strong>330pm</strong>
                        </p>
                        <p class="stats">
                            <img class="icon" src="../../img/location.svg" alt="" />
                            <a href="#" target="_blank">Outside the entrance of <strong>McKinnon Gym</strong></a>
                        </p>
                    </div>
                    <div class="main-container-img" style="background-image:url('../../img/map.png')"></div>
                </section>
                <section>
                    <div>
                        <h1>Who</h1>
                        <div class="people">
                            <div class="person">
                                <span>Chris Henley</span>
                                <a href="#" target="_blank">facebook.com/chrishenley</a>
                            </div>
                            <div class="person">
                                <span>Misha Turani</span>
                                <a href="#" target="_blank">mishaturani@gmail.com</a>
                            </div>
                            <div class="person">
                                <span>Manning Ganier</span>
                                <a href="#" target="_blank">manninganier@hotmail.com</a>
                            </div>
                            <div class="person">
                                <span>Manning Ganier</span>
                                <a href="#" target="_blank">manninganier@hotmail.com</a>
                            </div>
                            <div class="person">
                                <span>Cornelious Trump</span>
                                <a href="#" target="_blank">corneliousmanning@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="flex-direction_row">
                <div class="flex-direction_row">
                    <div class=" footer-made-by flex-direction_column">
                        <span>this website was made by</span>
                        <img class="footer-logo" src="../../img/logotype-grey.svg" alt="" />
                    </div>
                    <ul>
                        <li><a href="#" target="_blank"><img class="icon" src="../../img/twitter.svg" alt="" />@getclubhub</a></li>
                        <li><a href="mailto:contact@hubsite.club" target="_blank"><img class="icon envelope" src="../../img/envelope.svg" alt="" />contact@hubsite.club</a></li>
                    </ul>
                </div>
                <ul class="more">
                    <li><a href="#" target="_blank">Create your own website <img class="icon" src="../../img/arrow.svg" alt="" /></a></li>
                    <li><a href="#" target="_blank">Search more clubs at UVic <img class="icon" src="../../img/arrow.svg" alt="" /></a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
